@keyframes blink-critical {
  70% {
    color: #eee8d5;
  }

  to {
    color: #eee8d5;
    background-color: #dc322f;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: #002b36;
  color: #eee8d5;
  font-family: "Hack Nerd Font";
  font-size: 14.5px;
}

/* Each module */
#clock,
#cpu,
#custom-keyboard-layout,
#custom-scratchpad-indicator,
#custom-separator,
#custom-music,
#custom-vpn,
#memory,
#network,
#pulseaudio,
#temperature,
#tray {
  padding: 1px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#tray {
  opacity: .8;
}

#clock {
  font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
  color: #cb4b16;
}

#cpu.critical {
  color: #dc322f;
  font-weight: bold;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: #cb4b16;
}

#memory.critical {
  color: #dc322f;
  animation-name: blink-critical;
  animation-duration: 2s;
  font-weight: bold;
}

#mode {
  background: #073642;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid #586e75;
}

#network {
  /* No styles */
}

#network.disconnected {
  color: #cb4b16;
}

#pulseaudio {
  /* No styles */
}

#pulseaudio.muted {
  /* No styles */
}

#temperature {
  /* No styles */
}

#temperature.critical {
  color: #dc322f;
  font-weight: bold;
}

#workspaces button {
  border-top: 2px solid transparent;
  background-color: transparent;
  color: #eee8d5;
  font-size: 15px;
}

#workspaces button:hover {
  border-top: 2px solid #b58900;
}

#workspaces button.focused {
  border-color: #6c71c4;
  color: #eee8d5;
  background-color: #073642;
}

#workspaces button.urgent {
  border-color: #c9545d;
  color: #c9545d;
}

#custom-separator {
  font-size: 22px;
  color: #073642;
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
